{% extends 'static.html.twig' %}

{% set page_title %}Contact{% endset %}

{% block page_content %}
    <p>
        Suggestions, additions, remarks or questions are always welcome. You can also contact us in case you would like
        to perform very specialised searches in the dataset, for which our online Search pages do not offer sufficient
        possibilities.
    </p>
    <p>
        <br>
        Prof. dr. Jeroen Deploige <br>
        Vakgroep Geschiedenis - Universiteit Gent<br>
        Sint-Pietersnieuwstraat 35<br>
        B-9000 Ghent <br>
        Belgium
    </p>
    <p>
        <br>
        <a href="mailto:diplomata-belgica@ugent.be">
            diplomata-belgica@ugent.be
        </a>
    </p>
{% endblock %}
