{% extends 'static.html.twig' %}

{% set page_title %}Contact{% endset %}

{% block page_content %}
    <p>
        Des propositions de complément, des remarques ou des questions sont toujours les bienvenues. Vous pouvez aussi
        nous contacter si vous voulez effectuer des recherches particulières dans les données qui ne peuvent être
        effectuées à partir de la page Recherche mise en ligne.
    </p>
    <p>
        <br>
        Prof. dr. Jeroen Deploige <br>
        Vakgroep Geschiedenis - Universiteit Gent<br>
        Sint-Pietersnieuwstraat 35<br>
        B-9000 Gand <br>
        Belgique
    </p>
    <p>
        <a href="mailto:diplomata-belgica@ugent.be">
            diplomata-belgica@ugent.be
        </a>
    </p>
{% endblock %}
