/.web-server-pid
/config/packages/*/parameters.yaml
/build/
/phpunit.xml
**/app/var
**/app/vendor
**/app/public/build
bower_components
node_modules
/images/
.idea/
.env.local.php
.env.*.local
src/Controller/TestController.php
###### production build
