.form-label {
    color: $black;
    margin-bottom: 5px;
    font-size: $font-size-base;
    font-weight: 400;
}
.hidden-label {
  display: none;
}
.form-select, 
.form-control,
.btn {
  border-radius: 0;
  font-family: $font-family-base;
}

.form-group {
  padding-bottom: $padding-small;

  .btn-primary {
    border-radius: 5px; 
  }
}

.form-check {
  padding-top: $padding-small;
  padding-bottom: $padding-small;
  font-size: $font-size-base; 
  .form-check-input {
    font-size: $font-size-md;
    margin-left: 0;
  }
  .checkbox-label {
    font-size: $font-size-base;
    padding-top: 3px;
    padding-left: 10px;
  }
}

.input-group {
  .date-input::placeholder {
    text-align: center;
  }
}

input::placeholder {
  color: $border-color !important;
}