.imagethumbnail {
    column-count: 2;
    padding: 2px;
    flex-flow: row wrap;
}

img {
    vertical-align: top;
}

.img-thumbnail {
    margin: 5px;
        &:hover {
            box-shadow: 0 0 4px 4px $hover-color;
    }
    
}