.scrollable {
  overflow: auto;
  
  &:not(aside) {
    padding-right: $padding-medium;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    width: 5px;
    background-color: $gray-light;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $border-color;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}