{% extends './Default/index.html.twig' %}

{% block title %}Diplomata Belgica - Contact{% endblock %}


{% block content %}
<div class="row ptop-default">
    <div class="col-12">
        <div class="colophon">
            <div class="row justify-content-center">
                <div class="col-8 border-bottom">

                    <h2 class="ptop-default">Contact</h2>
                        <p class="rosarivo">
                            Suggestions, additions, remarks or questions are always welcome. You can also contact us in case you would like to perform very specialised searches in the dataset, for which our online Search pages do not offer sufficient possibilities. 
                        </p>
                        <p class="rosarivo">
                            <br>
                            Prof. dr. Jeroen Deploige <br>
                            Vakgroep Geschiedenis - Universiteit Gent<br>
                            Sint-Pietersnieuwstraat 35<br>
                            B-9000 Ghent <br>
                            Belgium
                        </p>
                        <p class="rosarivo">
                            <a href="mailto:diplomata-belgica@ugent.be">
                                diplomata-belgica@ugent.be
                            </a>
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
