{% extends 'static.html.twig' %}

{% set page_title %}{{ 'Colophon'|trans }}{% endset %}

{% block page_content %}
    <h2>Editors</h2>
    <p>Th&eacute;r&egrave;se de Hemptinne, Jeroen Deploige, Jean-Louis Kupper, Walter Prevenier</p>
    <h2>Contributors</h2>
    <p>Philippe Demonty</p>
    <h2>advisory board</h2>
    <p>Thomas Aigner, Jean-Marie Cauchies, Els De Paermentier, Eef Dijkhof, Jean-Marie Duvosquel, Adam J. Kosto, Ludo
        Milis, Sarah Rees Jones, Beno&icirc;t-Michel Tock, Paul Tombeur, Raoul Van Caenegem (†), Jozef Van Loon, Karel
        Velle,
        Jean-Marie Yante</p>
    <h2>Database and Processing Software</h2>
    <p>Christophe Billiet, Guy De Tr&eacute; (<a href="http://ddcm.ugent.be/" target=_blank>DDCM, Ghent University</a>)
    </p>
    <h2>Geographical Applications</h2>
    <p>Xavier Baecke, Philippe Demonty, Bart De Wit</p>
    <h2>Web Design</h2>
    <p>Janpieter Chielens (<a href="http://www.piecemontee.be/" target=_blank>Tijdsbeeld-Pi&egrave;ce mont&eacute;e nv,
            Gent</a>)</p>
    <h2>Former Collaborators</h2>
    <p>Georges Declercq, Marie-Paul Laviolette, Katrien Naessens, Guy Triffin</p>
    <h2>Funding</h2>
    <p>
        Belgian Science Policy Office (<a href="http://www.belspo.be/belspo/index_en.stm" target="_blank">Belspo</a>),
        Hercules Foundation and Research Foundation - Flanders (<a href="https://www.fwo.be/" target="_blank">FWO</a>),
        Henri Pirenne Institute for Medieval Studies at Ghent University (<a href="http://www.ugent.be/pirenne/en"
                                                                             target="_blank">HPIMS</a>) <br>
    </p>
{% endblock %}