{% extends 'static.html.twig' %}

{% set page_title %}{{ 'Colophon'|trans }}{% endset %}

{% block page_content %}
        <h2>Sous la direction de</h2>
        <p>Thérèse de Hemptinne, Jeroen Deploige, Jean-Louis Kupper, Walter Prevenier</p>
        <h2>Auteurs</h2>
        <p>Philippe Demonty</p>
        <h2>Bureau consultatif</h2>
        <p>Thomas Aigner, Jean-Marie Cauchies, Els De Paermentier, Eef Dijkhof, Jean-Marie Duvosquel, Adam J. Kosto, Ludo Milis, Sarah Rees Jones, Benoît-Michel Tock, Paul Tombeur, Raoul Van Caenegem (†), Jozef Van Loon, Karel Velle, Jean-Marie Yante</p>
        <h2>Logiciel de la base de données et de traitement</h2>
        <p>Christophe Billiet, Guy De Tré (<a href="http://ddcm.ugent.be/" target="_blank">DDCM, Ghent University</a>)</p>
        <h2>Applications géographiques</h2>
        <p>Xavier Baecke, Philippe Demonty, Bart De Wit</p>
        <h2>Web Design</h2>
        <p>Janpieter Chielens (<a href="http://www.piecemontee.be/" target="_blank">Tijdsbeeld-Pièce montée nv, Gent</a>)</p>
        <h2>Collaborateurs antérieurs</h2>
        <p>Georges Declercq, Marie-Paul Laviolette, Katrien Naessens, Guy Triffin</p>
        <h2>Fonds</h2>
        <p>
            Service public de programmation de la Politique scientifique fédérale (<a href="http://www.belspo.be/belspo/index_fr.stm" target="_blank">Belspo</a>),
            Fonds Hercules et Fonds de la Recherche Scientifique (<a href="https://www.fwo.be/" target="_blank">FWO</a>),
            Henri Pirenne Institute for Medieval Studies de l'Université de Gand (<a href="http://www.ugent.be/pirenne/en" target="_blank">HPIMS</a>) <br>
        </p>
    </div>
{% endblock %}