h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  small.text-primary,
  .small.text-primary {
    color: $brand-primary;
  }
}

.widget {
  h3 small, h2 small, h4 small {
    display: block;
    font-size: 85%;
  }
}