@font-face {
    font-family: 'RosarivoRegular';
    src: url('/assets/fonts/rosarivo/rosarivo-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('/assets/fonts/raleway/raleway.ttf') format('truetype');
}