{% extends 'static.html.twig' %}

{% set page_title %}À propos de{% endset %}

{% block page_content %}
    <p>
        <span class="textItalic">Diplomata Belgica</span> offre un panorama critique de tous les actes écrits, édités ou
        non, expédiés par des personnes privées et des autorités légales des Pays-Bas méridionaux au Moyen Âge. <span
                class="textItalic">Diplomata Belgica</span> couvre le territoire de la Belgique actuelle et les aires
        ayant appartenu historiquement aux Pays-Bas méridionaux mais faisant actuellement partie de la France (Flandres
        et Hainaut français), des Pays-Bas (parties des provinces de Zélande, Brabant, Limbourg), du Grand-Duché de
        Luxembourg et de l’Allemagne (parties de la Rhénanie). Au stade actuel <span class="textItalic">Diplomata Belgica</span>
        contient des métadonnées à propos de presque 35.000 actes en latin, en ancien français, en moyen néerlandais et
        en moyen haut-allemand, presque 19.000 transcriptions intégrales et presque 5.000 photos de chartes originales.
        La base de données vise l’exhaustivité en ce qui concerne la période avant 1250 et sera complétée, dans le
        futur, par l’incorporation d’actes diplomatiques du bas Moyen Âge, sans toutefois chercher à être
        exhaustive.<br>
        <br>
    </p>
    <p>
        Le projet <span class="textItalic">Diplomata Belgica</span> a été initié au milieu des années 1980, lorsque la
        Commission royale d’Histoire de Belgique a proposé une révision complète et informatisée de la <span
                class="textItalic">Table chronologique des chartes et diplômes imprimés concernant l’histoire de la Belgique</span>.
        Cet instrument heuristique mis en œuvre par Alphonse Wauters avait été publié en onze volumes entre 1866 et
        1971, et comportait une analyse textuelle de toutes les chartes éditées antérieures à 1350. Ce projet fut mené
        en étroite collaboration avec le Comité national du dictionnaire du latin médiéval et avec l’ancien Cetedoc
        (Centre de Traitement électronique des Documents) de l’Université Catholique de Louvain-la-Neuve. Le CD-Rom
        <span class="textItalic">Thesaurus Diplomaticus</span>, réd. Paul Tombeur, Philippe Demonty, Walter Prevenier et
        Marie-Paul Laviolette, paru en 1997 et distribué par Brepols Publishers, fut le résultat de cette collaboration.
        Ce CD-Rom offre un panorama analytique de toutes les sources diplomatiques écrites (en latin) entre environ 640
        et 1200.<br>
        <br>
    </p>
    <p>
        Après 1997, Philippe Demonty, en tant que chercheur contractuel de la Commission royale d’Histoire, a continué à
        rassembler de nouvelles données pour améliorer et compléter la base de données couvrant la période de 640 à 1200
        et pour étendre la collecte à la période entre 1200 et 1250. Pour le concept d’une nouvelle structure de données
        et pour le développement d’un nouveau système de base de données relationnel, la Commission royale d’Histoire
        s’est engagée dans une collaboration avec des médiévistes et des ingénieurs en informatique de l’Université de
        Gand dans le cadre du projet « Sources from the Medieval Low Countries » dirigé par Jeroen Deploige et
        généreusement subsidié par la Fondation Hercules (2010-2014) et par l’Henri Pirenne Institute for Medieval
        Studies de l’Université de Gand. Comparée au <span class="textItalic">Thesaurus Diplomaticus</span>, la base de
        données <span class="textItalic">Diplomata Belgica</span> offre une triple extension des données originales et
        contient de nombreux champs d’information inédits, tels l’établissement d’hyperliens et de géo-localisations. Un
        inventaire comme <span class="textItalic">Diplomata Belgica</span> ne sera jamais achevé. La base de données est
        donc lancée comme outil en perpétuel enrichissement. À chaque instant, de nouvelles données pourront être
        ajoutées et les données existantes adaptées et mises à jour.
    </p>
{% endblock %}
