{% extends 'static.html.twig' %}

{% set page_title %}Copyright{% endset %}

{% block page_content %}
    <p class="rosarivo">
        All rights in the pages and the contents of this website and database are reserved by the Royal Historical
        Commission of Belgium and Ghent University. No part of this information may be reproduced or distributed in any
        form other than for private use or in accordance with the provisions of the Belgian copyright law of 30 June
        1994 and the database law of 31 August 1998 and any amending legislation. All reproductions require an
        acknowledgement of the URL and the editors of the website and database.
    </p>
    <p>&nbsp;</p>
    <h2>How to reference?</h2>

    <h4>Reference to the database</h4>
    <p class="rosarivo">
        EXAMPLE: <span class="textItalic">Diplomata Belgica. The Diplomatic Sources from the Medieval Southern Low Countries</span>,
        ed. by Th&eacute;r&egrave;se de Hemptinne, Jeroen Deploige, Jean-Louis Kupper and Walter Prevenier (Brussels:
        Royal Historical Commission, since 2015). URL: www.diplomata-belgica.be (accessed December 25, 2015).<br>
        <br>
    </p>

    <h4>Reference to a specific record</h4>
    <p class="rosarivo">
        EXAMPLE: DiBe ID 1242, in<i> Diplomata Belgica. The Diplomatic Sources from the Medieval Southern Low
            Countries</i>, ed. by ed. by Th&eacute;r&egrave;se de Hemptinne, Jeroen Deploige, Jean-Louis Kupper and
        Walter Prevenier (Brussels: Royal Historical Commission, since 2015). URL:
        www.diplomata-belgica.be/charter_details_en.php?dibe_id=1242 (accessed December 25, 2015).
    </p>
{% endblock %}
