{% extends 'static.html.twig' %}

{% set page_title %}Copyright{% endset %}

{% block page_content %}
    <p>
        All rights in the pages and the contents of this website and database are reserved by the Royal Historical
        Commission of Belgium and Ghent University. No part of this information may be reproduced or distributed in any
        form other than for private use or in accordance with the provisions of the Belgian copyright law of 30 June
        1994 and the database law of 31 August 1998 and any amending legislation. All reproductions require an
        acknowledgement of the URL and the editors of the website and database.
    </p>
    <h2>Comment citer?</h2>
    <p>
        <span class="textStress">Citation de la base de données</span>EXEMPLE: <span class="textItalic">Diplomata Belgica. Les sources diplomatiques des Pays-Bas méridionaux au Moyen Âge</span>,
        Thérèse de Hemptinne, Jeroen Deploige, Jean-Louis Kupper et Walter Prevenier (dir.) (Bruxelles: Commission
        royale d’Histoire, depuis 2015). URL: www.diplomata-belgica.be (consulté le 25 décembre 2015).<br>
        <br>
        <span class="textStress">Citation d’une entrée spécifique</span>EXEMPLE: DiBe ID 1242, dans <span
                class="textItalic">Diplomata Belgica. Les sources diplomatiques des Pays-Bas méridionaux au Moyen Âge</span>,
        Thérèse de Hemptinne, Jeroen Deploige, Jean-Louis Kupper et Walter Prevenier (dir.) (Bruxelles: Commission
        royale d’Histoire, depuis 2015). URL: www.diplomata-belgica.be/charter_details_fr.php?dibe_id=1242 (consulté le
        25 décembre 2015).
    </p>
{% endblock %}
